{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "transform": {
      "useDefineForClassFields": false
    },
    "externalHelpers": true,
    "target": "esnext",
    "loose": true
  },
  "exclude": [
    "\\.js$",
    "\\.d\\.ts$",
    "node_modules"
  ],
  "module": {
    "type": "es6"
  },
  "minify": false
}